@model List<DojoActivity>

<div class="m-3 jumbotron jumbotron-fluid">
    <div class="container">
         <h1 class="display-4 text-dark">Dojo Activity Center</h1>
        <hr class="my-2">
        <p class="text-dark">Home of the best (socially distant) activities in the universe</p>
        <p class="lead">
            <a class="float-right btn btn-outline-danger btn-md" href="/logout" role="button">Logout</a>
            <a class="float-left btn btn-outline-primary btn-md" href="/Add" role="button">Add Event</a>
        </p>
    </div>
</div>
    <table class="mt-5 table table-striped table-inverse">
    <thead class="thead-inverse">
        <tr>
            <th>Activity</th>
            <th>Date & Time</th>
            <th>Duration</th>
            <th>Event Coordinator</th>
            <th>No. of Participants</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            @foreach(var act in Model){
            <tr>
                <td scope="row"><a href="Display/@act.ActivityId">@act.ActivityName</a></td>
                <td>@act.StartDate.ToShortDateString() | @act.StartDate.ToShortTimeString()</td>
                <td>@act.Duration Minutes </td>
                <td>@act.Coordinator.FirstName</td>
                <td>@act.CalandarActivities.Count</td>
                <td>
                    @if(act.Coordinator.UserId == ViewBag.User.UserId){
                        <a class="text-danger" href="cancel/@act.ActivityId">Cancel</a>
                    }else{
                        if(act.CalandarActivities.All(r => r.UserId != ViewBag.User.UserId)){
                            <a class="text-warning" href="Join/@ViewBag.User.UserId/@act.ActivityId">Join</a>
                        }
                        if(act.CalandarActivities.Any(r => r.UserId == ViewBag.User.UserId)){
                            <a class="text-info" href="Leave/@ViewBag.User.UserId/@act.ActivityId">Leave</a>
                        }
                    }

                </td>
            </tr>
            }
        </tbody>

