@model DojoActivity
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">@Model.ActivityName</h1>
        <p class="lead">Was created by: @Model.Coordinator.FirstName @Model.Coordinator.LastName</p>
        <hr class="my-2">
        <p>Event Starts: @Model.StartDate.ToShortDateString() At @Model.StartDate.ToShortTimeString() and will last for @Model.Duration minutes </p>
        <p class="lead">
            <a class="float-right btn btn-outline-danger btn-md" href="/Logout" role="button">Logout</a>
            <a class="float-left btn btn-outline-primary btn-md" href="/Dashboard" role="button">Dashboard</a>
        </p>
        <p class="text-center">@if(Model.Coordinator.UserId == ViewBag.User.UserId){
            <a class="btn btn-danger btn-large" href="/cancel/@Model.ActivityId" role="button">Cancel</a>
                            } 
                            else{
                                if(Model.CalandarActivities.All(i => i.UserId != ViewBag.User.UserId)){
                                    <a class="btn btn-warning btn-large" href="/Join/@ViewBag.User.UserId/@Model.ActivityId" role="button">Join</a>
                                }
                                if(Model.CalandarActivities.Any(i => i.UserId == ViewBag.User.UserId)){
                                    <a class="btn btn-info btn-large" href="/Leave/@ViewBag.User.UserId/@Model.ActivityId" role="button">Leave</a>
                                }
                            }
        </p>
        <hr class="my-2">
        <p><i>@Model.Description</i></p>
        <ul><h4>All the people going</h4>
        @foreach(var i in Model.CalandarActivities){
            <li>@i.UserJoin.FirstName</li>
        }
        </ul>        
    </div>
</div>